{% extends 'appearance/base.html' %}

{% load i18n %}

{% block title %}{% blocktrans %}Page not found{% endblocktrans %}{% endblock %}

{% block content %}
    <div class="content">
    
<h1>Neger</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/2-Y18xquhGg" frameborder="0" allowfullscreen></iframe>

        <h3 class="title">{% blocktrans %}Page not found{% endblocktrans %}</h3>
        <div class="inner">
            <p>{% blocktrans %}Sorry, but the requested page could not be found.{% endblocktrans %}</p>
        </div>
    </div>
{% endblock %}
